[Unit]
Description=VM instence setup
ConditionPathExists=/opt/application.properties
After=network.target

[Service]
Type=simple
User=csye6225
Group=csye6225
WorkingDirectory=/opt/csye6225/webapp
ExecStart=node /opt/app/csye6225/webapp/index.js
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=csye6225

[Install]
WantedBy=multi-user.target